button {
  outline: none;
  margin: 4px;
  padding: 8px;
  border: none;
  border-radius: 2px;
}

button#exploreCurrentEndpoint {
  background-color:forestgreen;
}

button#exploreSelectedEndpoint {
  background-color:steelblue;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}
